# Ignore build artifacts
*.o
*.ko
*.mod.*
*.cmd
*.symvers
*.order
*.bin
*.elf
*.a

# Ignore editor swap files and temporary files
*~
.*.swp
.*.swo
.*.sw?
*.tmp

# Ignore patch files
*.patch

# Ignore cscope and tags files
cscope.*
tags
TAGS

# Ignore debug and log files
*.log
*.gz
*.bz2
*.xz
*.log.*

# Ignore configuration backup files
*.old
*.orig

# Ignore output directory
/arch/*/boot/Image
/arch/*/boot/*Image
/arch/*/boot/*Image.gz
/arch/*/boot/*Image.xz
/arch/*/boot/*zImage
/arch/*/boot/*zImage.gz
/arch/*/boot/*zImage.xz
/vmlinux
/vmlinux.*
/vmlinuz
/vmlinuz.*
/System.map

arch/arm64/crypto/sha256-core.S
arch/arm64/kernel/vdso/vdso.lds
arch/arm64/kernel/vdso/vdso.so
arch/arm64/kernel/vdso/vdso.so.dbg
arch/arm64/kernel/vmlinux.lds


# Ignore build directories
/.*.tmp_versions
/.*.kbuild
/tools/perf/Documentation


*.builtin
*.cpio
*.d
*.dtb

/.tmp*
/.version

/.config

arch/arm64/include/generated/
arch/arm64/kernel/asm-offsets.s
certs/x509_certificate_list
crypto/asymmetric_keys/pkcs7.asn1.c
crypto/asymmetric_keys/pkcs7.asn1.h
crypto/asymmetric_keys/x509.asn1.c
crypto/asymmetric_keys/x509.asn1.h
crypto/asymmetric_keys/x509_akid.asn1.c
crypto/asymmetric_keys/x509_akid.asn1.h
crypto/rsaprivkey.asn1.c
crypto/rsaprivkey.asn1.h
crypto/rsapubkey.asn1.c
crypto/rsapubkey.asn1.h
drivers/scsi/scsi_devinfo_tbl.c
drivers/video/logo/clut_vga16.c
drivers/video/logo/logo_dec_clut224.c
drivers/video/logo/logo_linux_clut224.c
drivers/video/logo/logo_linux_mono.c
drivers/video/logo/logo_linux_vga16.c
drivers/video/logo/logo_mac_clut224.c
drivers/video/logo/logo_parisc_clut224.c
drivers/video/logo/logo_sgi_clut224.c
drivers/video/logo/logo_spe_clut224.c
drivers/video/logo/logo_sun_clut224.c
drivers/video/logo/logo_superh_clut224.c
drivers/video/logo/logo_superh_mono.c
drivers/video/logo/logo_superh_vga16.c
include/config/
include/generated/
kernel/bounds.s
kernel/config_data.h
kernel/kheaders.md5
lib/crc32table.h
lib/gen_crc32table
lib/oid_registry_data.c
net/wireless/regdb.c
scripts/asn1_compiler
scripts/basic/fixdep
scripts/bin2c
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/extract-cert
scripts/genksyms/genksyms
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
scripts/mod/devicetable-offsets.s
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/pnmtologo
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable
security/apparmor/capability_names.h
security/apparmor/net_names.h
security/apparmor/rlim_names.h
security/selinux/av_permissions.h
security/selinux/flask.h
usr/gen_init_cpio
scripts/sign-file
